@model Pandape.Host.Mvc.ViewModels.EditCandidateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candidate.Id" />
            <div class="form-group">
                <label asp-for="Candidate.Name" class="control-label"></label>
                <input asp-for="Candidate.Name" class="form-control" />
                <span asp-validation-for="Candidate.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.SurName" class="control-label"></label>
                <input asp-for="Candidate.SurName" class="form-control" />
                <span asp-validation-for="Candidate.SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.BirthDate" class="control-label"></label>
                <input asp-for="Candidate.BirthDate" class="form-control" />
                <span asp-validation-for="Candidate.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Email" class="control-label"></label>
                <input asp-for="Candidate.Email" class="form-control" />
                <span asp-validation-for="Candidate.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.InsertDate" class="control-label"></label>
                <input asp-for="Candidate.InsertDate" class="form-control" />
                <span asp-validation-for="Candidate.InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ModifyDate" class="control-label"></label>
                <input asp-for="Candidate.ModifyDate" class="form-control" />
                <span asp-validation-for="Candidate.ModifyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
